DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=
DB_ERROR=PDO::ERRMODE_EXCEPTION

TELEGRAM_BOT_TOKEN=
TELEGRAM_NOTIFICATIONS_CHAT_ID=
TELEGRAM_COMPLAINTS_CALLS_THREAD_ID=
TELEGRAM_COMPLAINTS_TICKETS_THREAD_ID=
TELEGRAM_NEGATIVE_FEEDBACK_THREAD_ID=

OBUCHAT_API_URL=
OBUCHAT_INCOMING_RECORD_RATING_WEBHOOK_URI=
OBUCHAT_OUTGOING_RECORD_RATING_WEBHOOK_URI=

USEDESK_API_URL=https://api.usedesk.ru/
USEDESK_API_SECRET_KEY=
USEDESK_COMPLAINT_TICKET_APP_ID=
USEDESK_COMPLAINT_TICKET_SECRET_KEY=
USEDESK_NEGATIVE_FEEDBACK_SECRET_KEY=
USEDESK_USER_TICKET_APP_ID=
USEDESK_USER_TICKET_SECRET_KEY=

RECORD_STORAGE_URL=
RECORD_STORAGE_REGION=
RECORD_STORAGE_ACCESS_KEY=
RECORD_STORAGE_SECRET_KEY=
RECORD_STORAGE_CALL_BUCKET=

USER_TICKET_STORAGE_ACCESS_KEY=
USER_TICKET_STORAGE_SECRET_KEY=
USER_TICKET_STORAGE_ENDPOINT="https://storage.yandexcloud.net"
USER_TICKET_STORAGE_BUCKET=
USER_TICKET_STORAGE_REGION=

VOXIMPLANT_API_URL_V3=
VOXIMPLANT_DOMAIN=
VOXIMPLANT_TOKEN=

TINKOFF_TQM_API_URL=https://tqm-cloud.tbank.ru
TINKOFF_TQM_API_KEY=
TINKOFF_TQM_API_VERSION=1.0
